* {
    /* border: 1px solid white; */
    margin: 0;
    padding: 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    background-color: #0f1127;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.box {
    display: flex;
    justify-content: center;
    width: 60em;
}

.container {
    display: flex;
    justify-content: center;
}

.left-side {
    background-color: #1C1A38;
    padding: 20px;
    width: 50%;
    display: flex;
    border-radius: 10px 0 0 10px;
}

.right-side {
    width: 50%;
    position: relative;
}

.right-side::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #53008ac5;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
    border-radius: 0 10px 10px 0;
}

.content {
    margin: 0 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 0 10px 10px 0;
}

p {
    line-height: 25px;
}

span {
    color: #b553f7;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.35rem;
}

.details {
    display: flex;
    justify-content: space-between;
}

.details p {
    font-weight: 100;
    font-size: .75rem;
}